<button 
    *ngIf='!signedIn' 
    class='session-manager__sign-in-btn'
    (click)='signInClicked()'>
    Sign In
</button>
<button 
    *ngIf='signedIn' 
    class='session-manager__sign-out-btn'
    (click)='signOut()'>
    Sign Out
</button>

<div class='session-manager__sign-in-form' *ngIf='signingIn'>
    <div class='session-manager__sign-in-info'>
        <div class='session-manager__username-field'>
            <label>Username: </label>
            <input class='session-manager__form-input' type='text' [(ngModel)]='username'>
        </div>
        <div class='session-manager__password-field'>
            <label>Password: </label>
            <input class='session-manager__form-input' type='password' [(ngModel)]='password'>
        </div>
        <div class='session-manager__form-btns'>
            <button class='session-manager__form-btn' (click)='closeSignIn()'>Cancel</button>
            <button class='session-manager__form-btn' (click)='submitSignIn()'>Submit</button>
        </div>
    </div>
</div>
