<div *ngIf='!loading' class='home__lists'>

  <ul *ngFor='let assetType of ["quests", "worlds", "backgrounds", "foregrounds", "objects", "entities", "avatars"]' class='home__list'>
    <h3 class='home__list-header' (click)='selectAsset(assetType)'>{{assetType | uppercase}}</h3>
    <p *ngIf='!this[assetType] || (this[assetType].length === 0)' class='home__list-no-items'>No Assets Found</p>
    <li *ngFor='let asset of this[assetType]' class='home__list-item' (click)='selectAsset(assetType, asset)'>
      {{asset.name || 'No Name'}}
    </li>
  </ul>
  <!-- Add another empty list container for styling purposes (makes the columns even) -- remove if another asset type is added -->
  <ul class='home__list' [style.visibility]='"hidden"'></ul>

</div>

<div class='home__loading' *ngIf='loading'>
  Loading...
</div>