.asset-editor__name-input {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.4rem;
    outline: none;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

.asset-editor__name-input:focus {
    box-shadow: 2px 2px 15px 1px #ccc;
}

.asset-editor__sprite-editor {
    display: flex;
    padding: 1rem;
}

.asset-editor__canvas {
    width: calc(40vw - 2rem);
    height: calc(80vh - 15rem);
    background-color: black;
    border: 1px solid black;
    cursor: none;
}

.asset-editor__sprite-options {
    margin: 0 0.5rem;
}

.asset-editor__preview {
    border: 1px solid black;
    width: calc(40vw - 6rem);
    height: calc(80vh - 24rem);
}

.asset-editor__tools {
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: slategray;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
}