.asset-editor__nav {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.asset-editor__nav > * {
    margin-right: 0.5rem;
    min-width: 5rem;
}

.asset-editor__top-toolbar {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 4px;
}

.asset-editor__name-input {
    font-size: 1rem;
    padding: 0.4rem;
    outline: none;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

.asset-editor__name-input:focus {
    box-shadow: 2px 2px 15px 1px #ccc;
}

.asset-editor__tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: slategray;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.asset-editor__tools > * {
    margin-right: 0.5rem;
    min-width: 5rem;
}

.asset-editor__save-btn {
    background-color: lemonchiffon;
}

.asset-editor__save-btn:hover {
    background-color: lightgreen;
    color: black;
}

.asset-editor__brush-sizer {
    flex-grow: 1;
}

.asset-editor__sprite-editor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.asset-editor__canvas {
    background-color: black;
    border: 1px solid black;
    cursor: none;
    flex-grow: 1;
    width: 0;
    height: 100%;
    min-width: 10rem;
    max-height: 80vh;
}

.asset-editor__preview {
    flex-grow: 1;
    width: 0;
    height: 100%;
    min-width: 10rem;
}

.asset-editor__sprite-options {
    width: 100%;
}