<input class='foreground-editor__name-input' type='text' [(ngModel)]='name' placeholder='Name'>
<canvas 
    #foregroundEditorCanvas 
    class='foreground-editor__canvas' 
    [width]='canvasSize' 
    [height]='canvasSize'
    tabIndex='1'
    (keyup)='handleKeyUp($event)'
    (mousedown)='handleMouseDown($event)'
    (mouseup)='handleMouseUp()'
    (mousemove)='handleMouseMove($event)'
    (mouseleave)='handleMouseLeave()'
></canvas>
<div class='foreground-editor__tools'>
    <button class='foreground-editor__clear-btn' (click)='clear()'>Clear</button>
    <button class='foreground-editor__save-btn' (click)='save($event)'>Save</button>
    <p>
        <button class='foreground-editor__erase-btn' [class.active]='erasing' (click)='erasing=!erasing'>Erase</button>
    </p>
    <p>
        <label>Color</label>
        <input type='color' [(ngModel)]='brushColor'>
    </p>
    <p>
        <label>Brush Size</label>
        <input type="range" [min]='0' [max]='20' [step]='1' [(ngModel)]='brushSize'>
    </p>
</div>