<div *ngIf='loading' class='app__loading'>Loading...</div>

<header *ngIf='!loading' class='app__header'>
    <h1>Quest Mix</h1>
    <div class='app__header-options'>
        <div>
            <button [class.active]='view === "home"' class='app__header-option' (click)='changeView("home")'>Home</button>
            <button [class.active]='view === "quests"' class='app__header-option' (click)='changeView("quests")'>Quests</button>
            <button [class.active]='view === "worlds"' class='app__header-option' (click)='changeView("worlds")'>Worlds</button>
            <button [class.active]='view === "assets"' class='app__header-option' (click)='changeView("assets")'>Assets</button>
        </div>
        <div>
            <button *ngIf='userService.currentUser' [class.active]='view === "profile"' class='app__header-option' (click)='changeView("profile")'>Profile</button>
            <session-manager (newView)='changeView($event)'></session-manager>
        </div>
    </div>
</header>

<main *ngIf='!loading' class='app__main'>
    <app-home *ngIf='view === "home"' class='app__home' (selectedAsset)='selectedAsset($event)'></app-home>
    <user-profile *ngIf='view === "profile"' class='app__profile'></user-profile>
    <game-screen *ngIf='view === "quests"' class='app__game-screen'></game-screen>
    <world-editor *ngIf='view === "worlds"' class='app__world-editor'></world-editor>
    <app-assets
        *ngIf='view === "assets"'
        class='app__assets'
        [canvasSize]='600'
        [assetType]='currentlyEditing.type'
        [assetId]='currentlyEditing.info?.id'
    ></app-assets>
</main>
