.app__header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: slategray;
    color: white;
    justify-content: center;
    align-items: center;
}

.app__header-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem;
}

.app__header-option {
    margin: 0 0.5rem;
}

.app__main {
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

.app__home, .app__profile, .app__game-screen
 {
    width: 100%;
}

.app__asset-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
}