<div class="world-editor__loading" *ngIf="loading">
    Loading...
</div>
<ng-container *ngIf="!loading">
    <div class="world-editor__world-options">
        <h2 class="world-editor__section-title">
            <span class="world-editor__world-name">World #{{world?.id}}: {{world?.name}}</span>
            <button class="world-editor__edit-btn">Edit</button>
            <span class="world-editor__owner-name">Creator: {{world?.owner.username}}</span>
        </h2>
        <h3>Settings</h3>
        <div>
            <p>Game Speed: {{world?.settings.speed}}</p>
        </div>
        <div class="world-editor__player-options">
            <h2 class="world-editor__section-title">Player</h2>
            <div>
                <p>Avatar: {{world?.player.avatar.name}}</p>
                <p>Scene: {{world?.currentSceneId}}</p>
                <p>Position: ({{world?.player.pos.x}}, {{world?.player.pos.y}})</p>
                <p>Action: {{world?.player.action}}</p>
                <p>Width: {{world?.player.size.width}}</p>
                <p>Height: {{world?.player.size.height}}</p>
            </div>
        </div>
        <div class="world-editor__scenes">
            <h2 class="world-editor__section-title">Scenes</h2>
            <div>
                <p>Total Scenes: {{world?.scenes.length}}</p>
            </div>
        </div>
    </div>
</ng-container>
